---
Checks:          'bugprone-*,clang-analyzer-*,-clang-analyzer-alpha*,clang-diagnostic-*,google-*,modernize-*,readability-*,-readability-implicit-bool-cast,-google-readability-todo'
User:            voithos
